<!-- subscription_success.html -->
{% extends 'Shop/base.html' %}

{% block title %}Subscription Success{% endblock %}

{% block content %}
<div class="container mx-auto flex items-center justify-center">
    <div class="text-center py-10">
        <h1 class="text-5xl font-bold mb-6 text-green-800  animate__animated animate__bounceIn">You have successfully subscribed! ✅</h1>
        <p class="text-xl mb-6 text-gray-700">This is your official confirmation. Thanks for joining GreenCart newsletter.</p>
        <div class="flex justify-center mb-6">
            <div style="width:480px"><iframe allow="fullscreen" frameBorder="0" height="270" src="https://giphy.com/embed/EUMoWRGjOF0xEaDWMo/video" width="480">

            </iframe>
            <a href="{% url 'Shop:home' %}" class="mt-8 inline-block py-3 px-6 bg-green-600 text-white rounded-lg hover:bg-green-700 focus:outline-none focus:bg-green-700 transition-transform transform hover:scale-105">Return to Home</a>
            </div>       
        </div>
    </div>
</div>

<!-- Include Animate.css for animations -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
{% endblock %}
