<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com/"></script>
</head>
<body class="bg-gray-100 flex items-center justify-center h-screen">
<div class="bg-white shadow-lg rounded-lg overflow-hidden w-full max-w-4xl">
    <div class="md:flex">
        <div class="hidden md:block md:w-1/2">
            <img class="h-full w-full object-cover" src="https://source.unsplash.com/random/800x600" alt="Random Image">
        </div>
        <div class="w-full md:w-1/2 p-8">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>
