{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com/"></script>
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>

<body class="bg-gray-100 flex items-center justify-center h-screen">

    {% include 'alert.html' %}

    <div class="bg-white shadow-lg rounded-lg overflow-hidden w-full max-w-4xl">
        <div class="md:flex">
            <div class="hidden md:block md:w-1/2">
                <img class="object-cover h-full w-full" src="{% static 'images/logo.png' %}" alt="Random Image">
            </div>
            <div class="w-full md:w-1/2 p-8">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>

    <script src="{% static 'js/setTimeoutForAlert.js' %}"> </script>
</body>

</html>