{% extends 'Auth/base.html' %}

{% block title %}GreenCart | Forgot password?{% endblock %}

{% block lottie_src %}
    https://lottie.host/c5befc64-e06d-465d-b724-278ada3d5e2a/oNE6A5dy42.json
{% endblock %}

{% block content %}
<h2 class="text-2xl font-bold text-green-800 mb-6">Forgot your password?</h2>
<form method="post">
    {% csrf_token %}
    <div class="mb-4">
        <label for="{{ form.email.id_for_label }}" class="block text-sm font-medium text-green-700">
            {{ form.email.label }}{% if form.email.field.required %}<span class="text-red-500">*</span>{% endif %}
        </label>
        {{ form.email }}
    </div>
    <div class="mt-6">
        <button type="submit"
            class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-gray-600 hover:bg-black focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">Reset
            Password</button>
    </div>
</form>
<p class="mt-4 text-sm text-center text-black-600">Remembered your password? <a href="{% url 'Auth:login' %}"
        class="font-medium text-green-600 hover:text-green-500">Sign in</a></p>

{% endblock %}