{% extends 'Auth/base.html' %}
{% block title %}GreenCart | Login{% endblock %}

{% block lottie_src %}
https://lottie.host/54dad616-5c33-413f-8af8-e62aa9daf0cd/2RhLNcNx1Q.json
{% endblock %}

{% block content %}
<h2 class="text-4xl font-bold text-green-800 mb-6 text-center">Welcome back to 💚🛒</h2>
<form method="post" action="{% url 'Auth:login' %}" class="space-y-6">
    {% csrf_token %}
    <div class="space-y-1">
        <label for="{{ form.email.id_for_label }}" class="block text-sm font-medium text-green-700">
            {{ form.email.label }}{% if form.email.field.required %}<span class="text-red-500">*</span>{% endif %}
        </label>
        {{ form.email }}
    </div>
    <div class="space-y-1">
        <label for="{{ form.password.id_for_label }}" class="block text-sm font-medium text-green-700">
            {{ form.password.label }}{% if form.password.field.required %}<span class="text-red-500">*</span>{% endif %}
        </label>
        {{ form.password }}
    </div>
    <div class="flex items-center justify-between">
        <div class="flex items-center gap-1">
            {{ form.remember_me }}
            <label for="remember_me" class="ml-2 block text-sm text-grey-700">{{ form.remember_me.label }}</label>
        </div>
        <div class="text-sm">
            <a href="{% url 'Auth:forgot_password' %}" class="font-medium text-green-600 hover:text-green-500">Forgot your password?</a>
        </div>
    </div>
    <div>
        <button type="submit" class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">Sign in</button>
    </div>
</form>
<p class="mt-6 text-center text-sm text-gray-600">
    Don't have an account?
    <a href="{% url 'Auth:signup' %}" class="font-medium text-green-600 hover:text-green-500">Sign up</a>
</p>
{% endblock %}
