{% extends 'Auth/base.html' %}
{% block title %}GreenCart | Signup{% endblock %}

{% block lottie_src %}
https://lottie.host/992f1fc1-2ae0-42d3-ade2-7262ac05cbf9/zfyvTe6tjB.json
{% endblock %}

{% block content %}
<div class="max-w-md w-full space-y-8">
    <h2 class="text-4xl font-bold text-green-800 mb-6 text-center">Create Your Account 🪴 </h2>
    <form method="POST" action="{% url 'Auth:signup' %}" class="space-y-6">
        {% csrf_token %}
        <div class="space-y-1">
            <label for="first_name" class="block text-sm font-medium text-green-700">First Name</label>
            {{ form.first_name }}
        </div>
        <div class="space-y-1">
            <label for="last_name" class="block text-sm font-medium text-green-700">Last Name</label>
            {{ form.last_name }}
        </div>
        <div class="space-y-1">
            <label for="email" class="block text-sm font-medium text-green-700">Email</label>
            {{ form.email }}
        </div>
        <div class="space-y-1">
            <label for="password1" class="block text-sm font-medium text-green-700">Password</label>
            {{ form.password1 }}
        </div>
        <div class="space-y-1">
            <label for="password2" class="block text-sm font-medium text-green-700">Confirm Password</label>
            {{ form.password2 }}
        </div>
        <div>
            <button type="submit" class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">Sign up</button>
        </div>
    </form>
    <p class="mt-6 text-center text-sm text-gray-600">
        Already have an account?
        <a href="{% url 'Auth:login' %}" class="font-medium text-green-600 hover:text-green-500">Sign in</a>
    </p>
</div>
{% endblock %}
