{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com/"></script>
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>

<body class="bg-gray-100 flex items-center justify-center h-screen">

    <div class="container mx-auto mt-10">
    <div class="flex shadow-md my-10">
        <div class="w-full bg-white px-10 py-10">
            <div class="flex justify-between border-b pb-8">
                <h1 class="font-semibold text-2xl text-green-600">Shopping Cart</h1>
                <h2 class="font-semibold text-2xl text-green-600">3 Items</h2>
            </div>
            <div class="flex mt-10 mb-5">
                <h3 class="font-semibold text-gray-600 text-xs uppercase w-2/5">Product Details</h3>
                <h3 class="font-semibold text-center text-gray-600 text-xs uppercase w-1/5 text-center">Quantity</h3>
                <h3 class="font-semibold text-center text-gray-600 text-xs uppercase w-1/5 text-center">Price</h3>
                <h3 class="font-semibold text-center text-gray-600 text-xs uppercase w-1/5 text-center">Total</h3>
            </div>
            <div class="flex items-center hover:bg-gray-100 -mx-8 px-6 py-5">
                <div class="flex w-2/5"> <!-- product -->
                    <div class="w-20">
                        <img class="h-24" src="https://via.placeholder.com/150" alt="product">
                    </div>
                    <div class="flex flex-col justify-between ml-4 flex-grow">
                        <span class="font-bold text-sm text-green-600">Plant 1</span>
                        <span class="text-green-500 text-xs">Accessories</span>
                        <a href="#" class="font-semibold hover:text-red-500 text-gray-500 text-xs">Remove</a>
                    </div>
                </div>
                <div class="flex justify-center w-1/5">
                    <svg class="fill-current text-gray-600 w-3 cursor-pointer" viewBox="0 0 448 512"><path d="M416 208H32c-17.67 0-32 14.33-32 32s14.33 32 32 32h384c17.67 0 32-14.33 32-32s-14.33-32-32-32z"/></svg>
                    <input class="mx-2 border text-center w-8" type="text" value="1">
                    <svg class="fill-current text-gray-600 w-3 cursor-pointer" viewBox="0 0 448 512"><path d="M416 208H240V32c0-17.67-14.33-32-32-32s-32 14.33-32 32v176H32c-17.67 0-32 14.33-32 32s14.33 32 32 32h144v176c0 17.67 14.33 32 32 32s32-14.33 32-32V272h176c17.67 0 32-14.33 32-32s-14.33-32-32-32z"/></svg>
                </div>
                <span class="text-center w-1/5 font-semibold text-sm text-green-600">$10.00</span>
                <span class="text-center w-1/5 font-semibold text-sm text-green-600">$10.00</span>
            </div>
            <div class="flex items-center hover:bg-gray-100 -mx-8 px-6 py-5">
                <div class="flex w-2/5"> <!-- product -->
                    <div class="w-20">
                        <img class="h-24" src="https://via.placeholder.com/150" alt="product">
                    </div>
                    <div class="flex flex-col justify-between ml-4 flex-grow">
                        <span class="font-bold text-sm text-green-600">Plant 2</span>
                        <span class="text-green-500 text-xs">Accessories</span>
                        <a href="#" class="font-semibold hover:text-red-500 text-gray-500 text-xs">Remove</a>
                    </div>
                </div>
                <div class="flex justify-center w-1/5">
                    <svg class="fill-current text-gray-600 w-3 cursor-pointer" viewBox="0 0 448 512"><path d="M416 208H32c-17.67 0-32 14.33-32 32s14.33 32 32 32h384c17.67 0 32-14.33 32-32s-14.33-32-32-32z"/></svg>
                    <input class="mx-2 border text-center w-8" type="text" value="1">
                    <svg class="fill-current text-gray-600 w-3 cursor-pointer" viewBox="0 0 448 512"><path d="M416 208H240V32c0-17.67-14.33-32-32-32s-32 14.33-32 32v176H32c-17.67 0-32 14.33-32 32s14.33 32 32 32h144v176c0 17.67 14.33 32 32 32s32-14.33 32-32V272h176c17.67 0 32-14.33 32-32s-14.33-32-32-32z"/></svg>
                </div>
                <span class="text-center w-1/5 font-semibold text-sm text-green-600">$20.00</span>
                <span class="text-center w-1/5 font-semibold text-sm text-green-600">$20.00</span>
            </div>
            <div class="flex items-center hover:bg-gray-100 -mx-8 px-6 py-5">
                <div class="flex w-2/5"> <!-- product -->
                    <div class="w-20">
                        <img class="h-24" src="https://via.placeholder.com/150" alt="product">
                    </div>
                    <div class="flex flex-col justify-between ml-4 flex-grow">
                        <span class="font-bold text-sm text-green-600">Plant 3</span>
                        <span class="text-green-500 text-xs">Accessories</span>
                        <a href="#" class="font-semibold hover:text-red-500 text-gray-500 text-xs">Remove</a>
                    </div>
                </div>
                <div class="flex justify-center w-1/5">
                    <svg class="fill-current text-gray-600 w-3 cursor-pointer" viewBox="0 0 448 512"><path d="M416 208H32c-17.67 0-32 14.33-32 32s14.33 32 32 32h384c17.67 0 32-14.33 32-32s-14.33-32-32-32z"/></svg>
                    <input class="mx-2 border text-center w-8" type="text" value="1">
                    <svg class="fill-current text-gray-600 w-3 cursor-pointer" viewBox="0 0 448 512"><path d="M416 208H240V32c0-17.67-14.33-32-32-32s-32 14.33-32 32v176H32c-17.67 0-32 14.33-32 32s14.33 32 32 32h144v176c0 17.67 14.33 32 32 32s32-14.33 32-32V272h176c17.67 0 32-14.33 32-32s-14.33-32-32-32z"/></svg>
                </div>
                <span class="text-center w-1/5 font-semibold text-sm text-green-600">$30.00</span>
                <span class="text-center w-1/5 font-semibold text-sm text-green-600">$30.00</span>
            </div>

            <div class="flex justify-between mt-10">
                <div class="w-1/2">
                    <a href="#" class="flex font-semibold text-green-600 text-sm mt-10">
                        <svg class="fill-current mr-2 text-green-600 w-4" viewBox="0 0 448 512"><path d="M134.059 296H416c17.673 0 32-14.327 32-32s-14.327-32-32-32H134.059l76.218-76.218c12.499-12.499 12.499-32.757 0-45.255s-32.757-12.499-45.255 0L32.273 240.573c-6.248 6.248-9.373 14.439-9.373 22.628s3.125 16.379 9.373 22.628l132.748 132.748c12.499 12.499 32.757 12.499 45.255 0s12.499-32.757 0-45.255L134.059 296z"/></svg>
                        Continue Shopping
                    </a>
                </div>
                <div class="w-1/2">
                    <div class="flex justify-end">
                        <div class="text-right">
                            <div class="text-sm font-semibold text-gray-600">Subtotal</div>
                            <div class="text-2xl font-semibold text-green-600">$60.00</div>
                            <div class="text-sm text-gray-600 mt-2">Shipping and taxes calculated at checkout</div>
                        </div>
                    </div>
                    <div class="flex justify-end mt-10">
                        <button class="bg-green-600 text-white font-semibold py-3 px-5 rounded hover:bg-green-700">Proceed to Checkout</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

    <script src="{% static 'js/setTimeoutForAlert.js' %}"> </script>
</body>

</html>