{% extends "Cart/base.html" %}

{% block title %}Wishlist{% endblock %}

{% block content %}
<div class="container mx-auto mt-10">
    <div class="shadow-md my-10">
        <div class="w-full bg-white px-10 py-10">
            <div class="flex justify-between border-b pb-8">
                <h1 class="font-semibold text-2xl text-green-600">Wishlist</h1>
                <h2 class="font-semibold text-2xl text-green-600">{{ wishlist_items|length }} Items</h2>
            </div>
            {% if wishlist_items %}
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 mt-10">
                    {% for item in wishlist_items %}
                    <div class="bg-white p-6 rounded-lg shadow-lg flex flex-col justify-between h-full">
                        <div>
                            <img class="h-48 w-full object-cover" src="{{ item.product.image.url }}" alt="product">
                            <div class="mt-4">
                                <span class="font-bold text-sm text-green-600">{{ item.product.name }}</span>
                            </div>
                        </div>
                        <div class="mt-4 flex justify-between items-center">
                            <form action="{% url 'add_to_cart:add_to_cart' item.product.id %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="bg-green-600 text-white py-1 px-3 rounded-lg text-xs font-semibold hover:bg-green-700">Add to Cart</button>
                            </form>
                            <form action="{% url 'add_to_cart:remove_from_wishlist' item.id %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="bg-red-600 text-white py-1 px-3 rounded-lg text-xs font-semibold hover:bg-red-700">Remove</button>
                            </form>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="bg-white p-4 rounded-lg shadow-lg mt-6">
                    <p class="text-xl font-semibold text-gray-700">Your wishlist is empty.</p>
                    <a href="{% url 'Shop:home' %}" class="mt-4 inline-block py-2 px-4 bg-green-600 text-white rounded-lg hover:bg-green-700">Continue Shopping</a>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}