{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
    <script src="https://cdn.tailwindcss.com/"></script>
{#    <link rel="stylesheet" href="{% static 'css/app.css' %}">#}
    <script src="https://js.stripe.com/v3/"></script>
    {% block extra_css %}{% endblock %}
</head>
<style>
    body {
        background-color: white;
    }
</style>
<body>
    {% include 'Shop/navbar.html' %}
    <div class="">
        {% block content %}
        {% endblock %}
    </div>
    <footer class="bg-gray-800 text-white">
        {% include 'footer.html' %}
    </footer>
</body>
</html>
