{% extends 'payments/base.html' %}
{% load static %}

{% block title %}Order Summary{% endblock %}

{% block content %}
<div class="container mx-auto p-16">
    <div class="bg-white rounded-lg shadow-lg p-6">
        <h2 class="text-2xl text-green-700 font-bold mb-4">Order Summary</h2>
        <div class="overflow-x-auto">
            <table class="min-w-full rounded-lg border border-gray-300 overflow-hidden">
                <thead>
                    <tr class="bg-green-50">
                        <th class="py-3 px-6 text-gray-700 font-semibold uppercase text-sm text-left">Item</th>
                        <th class="py-3 px-6 text-gray-700 font-semibold uppercase text-sm text-left">Image</th>
                        <th class="py-3 px-6 text-gray-700 font-semibold uppercase text-sm text-left">Quantity</th>
                        <th class="py-3 px-6 text-gray-700 font-semibold uppercase text-sm text-left">Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in cart_items %}
                    <tr>
                        <td class="py-3 px-6 border-b border-gray-300">{{ item.product.name }}</td>
                        <td class="py-3 px-6 border-b border-gray-300">
                            <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" class="w-16 h-16 object-cover rounded-lg border border-gray-200">
                        </td>
                        <td class="py-3 px-6 border-b border-gray-300">{{ item.quantity }}</td>
                        <td class="py-3 px-6 border-b border-gray-300">${{ item.total_price }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="mt-6 flex justify-between items-center">
            <h3 class="text-lg font-semibold text-gray-800">Total Amount: <span class="font-normal text-green-600">${{ total_amount }}</span></h3>
            <form method="post" action="{% url 'payments:checkout' payment.id %}">
                {% csrf_token %}
                <button type="submit" class="bg-green-600 text-white px-6 py-3 rounded-lg shadow-lg hover:bg-green-800 transition duration-300">Place Order</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}