<footer class="w-full bg-gray dark:bg-gray-900">
    <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
        <div class="md:flex md:justify-between">
          <div class="mb-6 md:mb-0">
              <a href="/" class="flex items-center">
                  <img src="/static/images/logo.png" class="h-8 me-3" alt="GreenCart Logo" />
                  <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"></span>
              </a>
          </div>
          <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
              <div>
                  <h2 class="mb-6 text-sm font-semibold text-gray-200 uppercase dark:text-white">Resources</h2>
                  <ul class="text-gray-400 dark:text-gray-400 font-medium">
                      <li class="mb-4">
                          <a href="#" class="hover:underline">Plant Care Tips</a>
                      </li>
                      <li>
                          <a href="#" class="hover:underline">Gardening Guides</a>
                      </li>
                  </ul>
              </div>
              <div>
                  <h2 class="mb-6 text-sm font-semibold text-gray-200 uppercase dark:text-white">Get in touch</h2>
                  <ul class="text-gray-400 dark:text-gray-400 font-medium">
                      <li class="mb-4">
                          <a href="{% url 'support:submit_query' %}" class="hover:underline ">Contact Us</a>
                      </li>
                      <li>
                          <a href="{% url 'Shop:about' %}" class="hover:underline">About Us</a>
                      </li>
                  </ul>
              </div>
              <div>
                  <h2 class="mb-6 text-sm font-semibold text-gray-200 uppercase dark:text-white">Legal</h2>
                  <ul class="text-gray-400 dark:text-gray-400 font-medium">
                      <li class="mb-4">
                          <a href="#" class="hover:underline">Privacy Policy</a>
                      </li>
                      <li>
                          <a href="#" class="hover:underline">Terms & Conditions</a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
   


    </div>
</footer>
