{% extends 'Dashboard/base.html' %}
{% block title %}GreenCart | Home{% endblock %}
{% block content %}

<!-- Carousel Section -->
 <!-- imporved carousel height -->
<div id="custom-carousel" class="relative w-full" data-carousel="slide">

  <!-- Carousel wrapper -->
  <div class="relative h-96 md:h-[32rem] overflow-hidden">
      <!-- Item 1 -->
      <div class="carousel-item duration-700 ease-in-out">
        <a href="/shop/">
          <img src="/media/offers_poster/banner1.png" class="absolute block w-full" alt="Image 1">
        </a>
      </div>
      <!-- Item 2 -->
      <div class="carousel-item duration-700 ease-in-out hidden">
        <a href="/shop">
          <img src="/media/offers_poster/banner2.png" class="absolute block w-full" alt="Image 2">
        </a>
      </div>
      <!-- Item 3 -->
      <div class="carousel-item duration-700 ease-in-out hidden">
        <a href="/shop">
          <img src="/media/offers_poster/banner3.png" class="absolute block w-full" alt="Image 3">
        </a>
      </div>
  </div>
  <!-- Slider indicators -->
  <div class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse">
      <button type="button" class="w-3 h-3 rounded-full" aria-label="Slide 1" onclick="moveToSlide(0)"></button>
      <button type="button" class="w-3 h-3 rounded-full" aria-label="Slide 2" onclick="moveToSlide(1)"></button>
      <button type="button" class="w-3 h-3 rounded-full" aria-label="Slide 3" onclick="moveToSlide(2)"></button>
  </div>
  <!-- Slider controls -->
  <button type="button" class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" onclick="moveToPrevSlide()">
      <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 group-hover:bg-white/50 group-focus:ring-4 group-focus:ring-white group-focus:outline-none">
          <svg class="w-4 h-4 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
          </svg>
          <span class="sr-only">Previous</span>
      </span>
  </button>
  <button type="button" class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" onclick="moveToNextSlide()">
      <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 group-hover:bg-white/50 group-focus:ring-4 group-focus:ring-white group-focus:outline-none">
          <svg class="w-4 h-4 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
          </svg>
          <span class="sr-only">Next</span>
      </span>
  </button>
</div>
<script>
  let currentSlide = 0;
  const slides = document.querySelectorAll('.carousel-item');

  function showSlide(index) {
      slides.forEach((slide, i) => {
          slide.classList.toggle('hidden', i !== index);
          slide.classList.toggle('opacity-100', i === index);
          slide.classList.toggle('opacity-0', i !== index);
      });
  }

  function moveToSlide(index) {
      currentSlide = index;
      showSlide(currentSlide);
  }

  function moveToPrevSlide() {
      currentSlide = (currentSlide > 0) ? currentSlide - 1 : slides.length - 1;
      showSlide(currentSlide);
  }

  function moveToNextSlide() {
      currentSlide = (currentSlide < slides.length - 1) ? currentSlide + 1 : 0;
      showSlide(currentSlide);
  }

  // Initialize the slider
  showSlide(currentSlide);

  // Automatically move to the next slide every 5 seconds
  setInterval(moveToNextSlide, 5000);
</script>
<!-- Product List Section -->
<div class="mt-4 ml-4">
    <h2 class="font-bold text-xl">Featured Products</h2>
    <div class="flex overflow-x-auto space-x-6 p-4 py-2">
        <!-- Wrapper to center the items -->
        <div class="flex flex-grow justify-center">
            {% for product in products %}
            <div class="relative overflow-hidden rounded-lg shadow-lg flex flex-col justify-between h-100 min-w-[250px] w-64 flex-shrink-0">
                {% if product.image.url %}
                <div class="relative p-4 flex items-center justify-center h-64">
                    <img class="relative w-full h-full object-cover" src="{{ product.image.url }}" alt="{{ product.name }}">
                </div>
                {% endif %}
                <div class="relative text-black px-6 pb-6 mt-6 flex flex-col justify-between flex-grow">
                    <div class="flex justify-between">
                        <span class="block font-semibold text-sm">{{ product.name }}</span>
                        <span class="block bg-white rounded-full text-black text-xs font-bold px-3 py-2 leading-none flex items-center">${{ product.price }}</span>
                    </div>
                    <div class="flex justify-center mt-4">
                        <form method="post" action="{% url 'add_to_cart:add_to_cart' product.id %}" class="add-to-cart-form">
                            {% csrf_token %}
                            <button type="submit" class="w-full bg-green-600 text-white px-12 py-2 rounded font-bold text-sm">Add to Cart</button>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

  

<!-- New Section for Benefits -->
<div class="m-8 p-4 bg-gray-100 rounded-lg flex flex-wrap justify-between">
    <div class="flex items-center mb-4 w-full sm:w-1/2 lg:w-1/4">
        <img src="/media/offers_poster/cart.webp" alt="Largest Nursery" class="h-10 w-10 mr-3">
        <div>
            <h3 class="font-bold">Largest Nursery</h3>
            <p>1.2 Million plant lovers connected with us</p>
        </div>
    </div>
    <div class="flex items-center mb-4 w-full sm:w-1/2 lg:w-1/4">
        <img src="/media/offers_poster/support.png" alt="Lifetime support" class="h-10 w-10 mr-3">
        <div>
            <h3 class="font-bold">Lifetime Support</h3>
            <p>We help you grow your garden for lifetime</p>
        </div>
    </div>
    <div class="flex items-center mb-4 w-full sm:w-1/2 lg:w-1/4">
        <img src="/media//offers_poster/shipping.png" alt="Shipping" class="h-20 w-20 mr-3">
        <div>
            <h3 class="font-bold">Secure Shipping</h3>
            <p>Diligent care taken to deliver healthy plants</p>
        </div>
    </div>
</div>

<!-- Offer Grid Section -->
<div class="grid grid-cols-2 gap-0 p-8 sm:grid-cols-3 xl:gap-5">
    {% for offer in offers %}
    {% if forloop.first %}
    <!-- Offer Image with larger width - start -->
    <div class="group relative flex col-span-2 h-48 items-end overflow-hidden bg-gray-100 shadow-lg md:h-80">
        <img src="{{ offer.image.url }}" loading="lazy" alt="{{ offer.title }}" class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />
        <div class="pointer-events-none absolute inset-0 bg-gradient-to-t from-gray-800 via-transparent to-transparent opacity-50"></div>
        <span class="relative ml-4 mb-3 inline-block text-sm text-white md:ml-5 md:text-lg">{{ offer.title }}</span>
    </div>
    <!-- Offer Image with larger width - end -->
    {% else %}
    <!-- Offer Image - start -->
    <div class="group relative flex h-48 items-end overflow-hidden bg-gray-100 shadow-lg md:h-80">
        <img src="{{ offer.image.url }}" loading="lazy" alt="{{ offer.title }}" class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />
        <div class="pointer-events-none absolute inset-0 bg-gradient-to-t from-gray-800 via-transparent to-transparent opacity-50"></div>
        <span class="relative ml-4 mb-3 inline-block text-sm text-white md:ml-5 md:text-lg">{{ offer.title }}</span>
    </div>
    <!-- Offer Image - end -->
    {% endif %}
    {% endfor %}
</div>

{% endblock %}
