{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com/"></script>
    <link rel="stylesheet" href="{% static 'css/app.css' %}">

    <title>{% block title %}{% endblock %}</title>
    <style>
        html, body {
            height: 100%;
        }
        .scroll-container {
            height: calc(100% - 6rem); /* Adjust based on your header height */
            overflow-y: auto;
        }
    </style>
</head>
<body class="flex flex-col">
    <!-- Top section: Header -->
    <div>
        {% include 'alert.html' %}
        <nav class="px-6 py-6 flex justify-between items-center border-b border-gray-200">
            <!-- Left side: GreenCart logo/image and search field -->
            <div class="flex items-center">
                <!-- GreenCart logo/image (replace with your image or text) -->
                <a href="/" class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
                    <img src="{% static 'images/logo.png' %}" class="h-8" alt="GreenCart Logo" />
                    <span class="self-center text-xl font-semibold whitespace-nowrap text-green-600">GreenCart</span>
                </a>
                <form method="GET" class="ml-4 flex">
                    <div class="flex">
                        <input type="text" name="query" placeholder="Search for a product" class="py-1 px-2 sm:px-4 rounded-l-lg border border-gray-300 focus:outline-none focus:border-green-600 w-full sm:w-auto ">
                        <button type="submit" class="py-1 px-3 bg-green-600 text-white rounded-r-lg hover:bg-green-700 focus:outline-none focus:bg-green-700">Search</button>
                    </div>
                </form>
            </div>
            
            <!-- Right side: Navigation links -->
            <ul class="flex space-x-4">
                <li><a href="{% url 'GreenCartEcom:index' %}" class="text-gray-500">Home</a></li>
                <li><a href="{% url 'GreenCartEcom:contact' %}" class="text-gray-500">Contact</a></li>
                <li><a href="{% url 'Auth:login' %}" class="text-gray-500">SignIn</a></li>
                <li><a href="{% url 'AddToCart:cart' %}" class="text-gray-500">Cart</a></li>
            </ul>
        </nav>
    </div>
    <!-- Navigation bar for categories -->
    <nav class="bg-white shadow-lg px-4">
        <div class="flex justify-between h-14">
          <div class="flex">
            <div class="hidden sm:flex sm:space-x-8">
              {% for category in navCategories %}
              <a href="#" class="border-b-2 border-transparent text-gray-900 inline-flex items-center px-1 pt-1 text-sm font-medium hover:border-gray-300">{{ category.title }}</a>
              {% endfor %}
            </div>
          </div>
        </div>
      </nav>

    <!-- Main content section with scrollbar -->
    <div class="scroll-container flex-1 overflow-y-auto">
        {% block content %}
        {% endblock %}
        
        <!-- Footer section -->
        {% include 'footer.html' %}
    </div>

    <script src="{% static 'js/setTimeoutForAlert.js' %}"> </script>
</body>
</html>
