{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com/"></script>
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>
<body>
{% include 'alert.html' %}
{% include 'Shop/navbar.html' %}
{% block content %}
{% endblock %}
{% include 'footer.html' %}

<script>
    function showModal(productId, productName, productImage) {
        document.getElementById('modal-product-id').value = productId;
        document.getElementById('modal-product-name').textContent = productName;
        document.getElementById('modal-product-image').src = productImage;
        document.getElementById('deleteModal').classList.remove('hidden');
    }

    function hideModal() {
        document.getElementById('deleteModal').classList.add('hidden');
    }
</script>


</body>
</html>