{% extends 'Shop/base.html' %}

{% block title %}GreenCart | Home {% endblock %}
{% block content %}
    <div class="container mx-auto px-4">
        <form method="GET" class="flex justify-center mb-6">
            <div class="flex">
                <input type="text" name="query" placeholder="Search for a product" class="py-1 px-2 sm:px-4 rounded-l-lg border border-gray-300 focus:outline-none focus:border-green-600 w-full sm:w-auto">
                <input type="number" name="min_price" placeholder="Min Price" class="py-1 px-2 sm:px-4 border border-gray-300 focus:outline-none focus:border-green-600 w-full sm:w-auto">
                <input type="number" name="max_price" placeholder="Max Price" class="py-1 px-2 sm:px-4 border border-gray-300 focus:outline-none focus:border-green-600 w-full sm:w-auto">
                <button type="submit" class="py-1 px-3 bg-green-600 text-white rounded-r-lg hover:bg-green-700 focus:outline-none focus:bg-green-700">Search</button>
            </div>
        </form>

        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
            {% for product in products %}
            <div class="relative m-10 flex w-full max-w-xs flex-col overflow-hidden rounded-lg border border-gray-100 bg-white shadow-md">
                <a class="relative mx-3 mt-3 flex h-60 overflow-hidden rounded-xl" href="{% url 'Shop:product_detail' product.pk %}">
                    <img class="object-cover" src="{{ product.image.url }}" alt="product image" />
                    {% if product.discount_price %}
                    <span class="absolute top-0 left-0 m-2 rounded-full bg-black px-2 text-center text-sm font-medium text-white">Discount</span>
                    {% endif %}
                </a>
                <div class="mt-4 px-5 pb-5">
                    <a href="{% url 'Shop:product_detail' product.pk %}">
                        <h5 class="text-xl tracking-tight text-slate-900">{{ product.name }}</h5>
                    </a>
                    <div class="mt-2 mb-5 flex items-center justify-between">
                        <p>
                            <span class="text-3xl font-bold text-slate-900">${{ product.price }}</span>
                            {% if product.discount_price %}
                            <span class="text-sm text-slate-900 line-through">${{ product.discount_price }}</span>
                            {% endif %}
                        </p>
                    </div>
                    <a href="#" class="flex items-center justify-center rounded-md bg-slate-900 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-blue-300">
                        Add to cart
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
