{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class=" py-4 flex-wrap">
    <div class="container mx-auto px-6 md:px-0">
        <div class="flex items-center justify-between">
            <!-- Branding -->
            <a href="/" class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvjOrvPK_t9Ci8yVypurJ8NdxjyGKtIoTqtw&s" class="h-8" alt="GreenCart Logo" />
                <span class="self-center text-xl font-semibold whitespace-nowrap text-green-600">GreenCart</span>
            </a>
            <!-- Navigation Links (Visible on larger screens) -->
            <div class="hidden md:flex items-center space-x-4 relative">
                <a href="{% url 'Shop:cart' %}" class="text-green hover:text-gray-300">Cart</a>
                <a href="{% url 'Shop:order' %}" class="text-green hover:text-gray-300">Orders</a>
                <img id="avatar" class="w-10 h-10 rounded-full cursor-pointer hover:boder"  src="{{ user_profile_pic }}" alt="Rounded avatar">
                <div id="dropdown" class="hidden absolute right-0 mt-2 w-48 bg-white rounded-md shadow-lg py-2 z-20">
                    <a href="{% url 'Profile:get_user_details' %}" class="block px-4 py-2 text-green hover:bg-gray-100">Profile</a>
                    <a href="{% url 'Auth:logout' %}" class="block px-4 py-2 text-green hover:bg-gray-100">Logout</a>
                </div>
            </div>
            
            <script>
                document.getElementById('avatar').addEventListener('click', function() {
                    const dropdown = document.getElementById('dropdown');
                    if (dropdown.classList.contains('hidden')) {
                        dropdown.classList.remove('hidden');
                    } else {
                        dropdown.classList.add('hidden');
                    }
                });
            
                // Close the dropdown if the user clicks outside of it
                document.addEventListener('click', function(event) {
                    const dropdown = document.getElementById('dropdown');
                    const avatar = document.getElementById('avatar');
                    if (!dropdown.contains(event.target) && !avatar.contains(event.target)) {
                        dropdown.classList.add('hidden');
                    }
                });
            </script>
        </div>
    </div>
</nav>


</body>
</html>