{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
    <script src="https://cdn.tailwindcss.com/"></script>
    <link rel="stylesheet" href="{% static 'support/css/styles.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
{% include 'Shop/navbar.html' %}
{% block content %}{% endblock %}
{% block scripts %}{% endblock %}
{% include 'footer.html' %}
</body>
</html>
