{% extends 'support/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <h1 class="faq-heading">Frequently Asked Questions</h1>
    <div class="form-container">
        <form method="get" action="{% url 'support:faq' %}">
            <h2 class="form-title text-green-700">Search FAQs</h2>
            {{ form.as_p }}
            <br>
            <button type="submit" class="form-submit">Search</button>
        </form>
    </div>
    <div class="accordion" style="margin-top: 30px;">
        {% for faq in faqs %}
        <div class="faq-item">
            <div class="faq-question">
                <h3>{{ faq.question }}</h3>
                <button class="accordion-btn">+</button>
            </div>
            <div class="faq-answer">
                <p>{{ faq.answer }}</p>
            </div>
        </div>
        {% empty %}
        <p>No FAQs available.</p>
        {% endfor %}
    </div>

    <div class="query-box">
        <h2>Could not find your question?</h2>
        <p>Raise a query and we'll get back to you.</p>
        <a href="{% url 'support:submit_query' %}" class="raise-query-link">Raise Query</a>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const accordionBtns = document.querySelectorAll('.accordion-btn');

        accordionBtns.forEach(btn => {
            btn.addEventListener('click', function() {
                const faqItem = this.parentElement.parentElement;
                faqItem.classList.toggle('active');
                const icon = this.innerText;
                this.innerText = icon === '+' ? '-' : '+';
            });
        });
    });
</script>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'Support/static/support/css/styles.css' %}">
{% endblock %}