{% extends 'support/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'Support/static/support/css/styles.css' %}">
{% endblock %}

{% block content %}
<div class="form-container">
    <h1 class="form-title text-green-800">Submit Query</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="form-submit bg-green-600 hover:bg-green-700">Submit</button>
    </form>
</div>
{% endblock %}
