{% extends 'support/base.html' %}
{% load static %}

{% block extra_css %}
{% endblock %}

{% block content %}
<div class="banner">
    <div class="banner-content">
        <h1>Welcome to GreenCart Support</h1>
        <p>How can we assist you today?</p>
    </div>
</div>

<div class="support-container">
    <div class="options">
        <a class="ticket hover:bg-green-600 hover:text-white" href="{% url 'support:submit_query' %}">Raise Query</a>
        <a class="ticket hover:bg-green-600 hover:text-white" href="{% url 'support:faq' %}">FAQs</a>
        <a class="ticket hover:bg-green-600 hover:text-white" href="{% url 'support:track_ticket' %}">Track Tickets</a>
        {% if user.is_staff or user.is_superuser %}
            <a class="ticket hover:bg-green-600 hover:text-white" href="{% url 'support:ticket_input' %}">Update Ticket Status</a>
        {% endif %}
    </div>
</div>
{% endblock %}
