{% extends 'support/base.html' %}
{% load static %}

{% block title %}
    Ticket Status Updated Successfully
{% endblock %}

{% block content %}
    <div class="banner">
        <div class="banner-content">
            <h1>Ticket Status Updated Successfully</h1>
            <p>The ticket status has been successfully updated.</p>
            <div class="ticket">
                <p>Your support ticket number:</p>
                <p><strong>{{ ticket_number }}</strong></p>
                 <p>is updated to:<br> <strong>{{  new_status  }}</strong></p>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'support/css/styles.css' %}">
{% endblock %}
