{% extends 'support/base.html' %}
{% load static %}

{% block content %}
<div class="form-container">
    {% if error %}
        <div class="error-message">
            <h1>{{ error }}</h1>
        </div>
    {% else %}
        <h1 class="form-title text-green-800">Update Ticket Status</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="form-submit">Update Status</button>
        </form>
    {% endif %}
</div>
{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'support/css/styles.css' %}">
{% endblock %}
